.row-fluid {
  padding-top: 1px;
}

hr {
  border: 1px solid #eee;
}
#search {
  margin-right: 5px;
  height: 400px;
  border-right:1px solid #eee
}

#icon {
  height: 400px;
  border-right:1px solid #eee
}